body {
	background: #000;
	margin: 30px 30px;
}

header {
	font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
	color: white;
	font-weight: normal;
	font-size: 1em;
	margin: 0 16px;
}

header span {
	text-shadow: 0 0 8px #BCD279;
	color: #9AB83E;
	font-size: 3em;
	margin-right: 32px;
}

.thumbnails.new {
	position: absolute;
}

h4 {
	font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
	color: white;
	font-weight: normal;
	margin: 32px 16px 0 16px;
}

.thumbnails.user {
	min-height: 200px;
}

.thumbnails.user h4 {
	margin-left: 230px;
}

ul {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}

li a {
	text-decoration: none !important;
	color: #000 !important;
}

li {
	width: 180px;
	height: 135px;
	margin: 16px;
	list-style: none;
	float: left;
	background: #FFF;
	border: solid #000 1px;
	cursor: pointer;
	position: relative;
}

li img.thumbnail {
	vertical-align: baseline;
}

li .info {
	position: absolute;
	bottom: 0;
	padding: 0;
	background: rgba(255, 255, 255, 0.75);
	border-top: solid rgba(143, 157, 106, 1) 1px;
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
	color: #000;
	font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
}

li .info p {
	margin: 0;
	padding: 0;
	width: 50%;
	overflow: hidden;
}

li .info .left {
	float: left;
	font-size: 11px;
	padding: 4px 0 0 0;
}

li .info .username {
	margin: 0 4px 0 2px;
}

li .info .right {
	float: right;
	text-align: right;
}

li .info span.eye {
}

li .info img.eye {
	width: 16px;
	margin: 0 4px 4px 2px;
	vertical-align: middle;
}

.thumbnails.new li {
	background: #262626;
	border: solid #FFF 1px;
}

.thumbnails.new p {
	text-align: center;
	font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
	font-size: 6em;
	padding: 0;
	margin: 0;
}

.thumbnails.new a {
	text-shadow: 0 0 8px #BCD279;
	color: #FFF !important;
}

.thumbnails.user li:first-child {
	margin-left: 230px;
}
