body {
	background-image: url('../../static/img/twinkle_twinkle.png');
	background: #000;
	font-family: 'Ubuntu Mono', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
}

p {
	padding: 0;
	margin: 0;
}

a {
	color: #CF6A4C;
	text-decoration: none;
}
a:visited {
	color: #CF6A4C;
}
a:hover {
	color: #CF6A4C;
	text-decoration: underline;
}

header {
	background: #111;
	font-size: 1em;
	padding: 0.25em 0.5em 0 1em;
	border-bottom: solid #282828 1px;
}

header a {
	color: #9AB83E !important;
	-webkit-transition: all 0.25s ease-out;
	   -moz-transition: all 0.25s ease-out;
	     -o-transition: all 0.25s ease-out;
	        transition: all 0.25s ease-out;
}

header a:hover {
	text-shadow: 0 0 8px #BCD279;
	text-decoration: none;
}

.main-wrapper {
	text-align: center;
	padding: 3em 4em;
}

.main-wrapper a {
	color: #9AB83E !important;
}

.main-wrapper .what-is-this {
	font-size: 3em;
	color: #FFF;
	line-height: 1em;
}

.main-wrapper .extra {
	margin: 1em 0 3em 0;
	color: #999;
}

.main-wrapper .new-box {
	border: solid #FFF 1px;
	width: 180px;
	height: 135px;
	margin: 0 auto;
	margin-bottom: 0.5em;
	color: #FFF;
	font-size: 6em;
	text-shadow: 0 0 8px #BCD279;
	background: #262626;
	cursor: pointer;
}

.main-wrapper .new-box:hover {
	-webkit-animation: boxpulse 0.5s infinite alternate;
	   -moz-animation: boxpulse 0.5s infinite alternate;
	     -o-animation: boxpulse 0.5s infinite alternate;
	        animation: boxpulse 0.5s infinite alternate;
}
@-webkit-keyframes boxpulse {
      0% { box-shadow: 0 0  0px #BCD279; text-shadow: 0 0  8px #BCD279; }
     25% { box-shadow: 0 0  4px #BCD279; text-shadow: 0 0 10px #BCD279; }
     50% { box-shadow: 0 0  8px #BCD279; text-shadow: 0 0 12px #BCD279; }
     75% { box-shadow: 0 0 12px #BCD279; text-shadow: 0 0 14px #BCD279; }
	100% { box-shadow: 0 0 16px #BCD279; text-shadow: 0 0 16px #BCD279; }
}
@-moz-keyframes boxpulse {
      0% { box-shadow: 0 0  0px #BCD279; text-shadow: 0 0  8px #BCD279; }
     25% { box-shadow: 0 0  4px #BCD279; text-shadow: 0 0 10px #BCD279; }
     50% { box-shadow: 0 0  8px #BCD279; text-shadow: 0 0 12px #BCD279; }
     75% { box-shadow: 0 0 12px #BCD279; text-shadow: 0 0 14px #BCD279; }
	100% { box-shadow: 0 0 16px #BCD279; text-shadow: 0 0 16px #BCD279; }
}
@-o-keyframes boxpulse {
      0% { box-shadow: 0 0  0px #BCD279; text-shadow: 0 0  8px #BCD279; }
     25% { box-shadow: 0 0  4px #BCD279; text-shadow: 0 0 10px #BCD279; }
     50% { box-shadow: 0 0  8px #BCD279; text-shadow: 0 0 12px #BCD279; }
     75% { box-shadow: 0 0 12px #BCD279; text-shadow: 0 0 14px #BCD279; }
	100% { box-shadow: 0 0 16px #BCD279; text-shadow: 0 0 16px #BCD279; }
}
@keyframes boxpulse {
      0% { box-shadow: 0 0  0px #BCD279; text-shadow: 0 0  8px #BCD279; }
     25% { box-shadow: 0 0  4px #BCD279; text-shadow: 0 0 10px #BCD279; }
     50% { box-shadow: 0 0  8px #BCD279; text-shadow: 0 0 12px #BCD279; }
     75% { box-shadow: 0 0 12px #BCD279; text-shadow: 0 0 14px #BCD279; }
	100% { box-shadow: 0 0 16px #BCD279; text-shadow: 0 0 16px #BCD279; }
}

.popular {
	background: #262626;
	padding: 1.5em 0;
}

.popular .thumbnails-wrapper {
	max-width: 784px;
}
.thumbnails-wrapper {
	margin: 0 auto;
}
@media screen and (min-width:180px){.thumbnails-wrapper{width:180px}}
@media screen and (min-width:392px){.thumbnails-wrapper{width:392px}}
@media screen and (min-width:588px){.thumbnails-wrapper{width:588px}}
@media screen and (min-width:784px){.thumbnails-wrapper{width:784px}}

.thumbnails-wrapper .title,
.thumbnails-wrapper .more {
	margin: 0 8px;
}
@media screen and (max-width: 391px) {
	.thumbnails-wrapper .title {
		margin: 0;
	}
}

.thumbnails-wrapper .title {
	color: #FFF;
}
@media screen and (max-width: 391px) {
	.thumbnails-wrapper .title {
		text-align: center;
	}
}

.more {
	text-align: right;
}
@media screen and (max-width: 391px) {
	.more {
		text-align: center;
	}
}

.more a {
	font-size: 0.8em;
}

.thumbnails {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.thumbnails li {
	background: #FFF;
	color: #000;
	list-style: none;
	float: left;
	position: relative;
	margin: 8px;
}
.popular .thumbnails li {
	display: none;
}
@media screen and (min-width:180px) {
	.popular .thumbnails li:nth-child(-n+3) {
		display: block;
	}
}
@media screen and (min-width:392px){
	.popular .thumbnails li:nth-child(-n+4) {
		display: block;
	}
}
@media screen and (min-width:588px){
	.popular .thumbnails li:nth-child(-n+6) {
		display: block;
	}
}
@media screen and (min-width:784px){
	.popular .thumbnails li:nth-child(-n+8) {
		display: block;
	}
}

@media screen and (max-width: 391px) {
	.popular .thumbnails li {
		margin: 8px 0;
	}
}

.thumbnails li .thumbnail {
	vertical-align: bottom;
}

.thumbnails li .info {
	position: absolute;
	width: 100%;
	overflow: hidden;
	z-index: 100;
	bottom: 0;
	left: 0;
	background: rgba(255, 255, 255, 0.95);
	border-top: solid rgba(143, 157, 106, 1) 1px;
}

.thumbnails li .info .left {
	float: left;
	font-size: 0.7em;
	padding: 0.35em 0 0 0.25em;
}

.thumbnails li .info .right {
	float: right;
	text-align: right;
}

.thumbnails li .info img.eye {
	width: 1em;
	margin: 0 0.25em 0.25em 0.15em;
	vertical-align: middle;
}

footer {
	color: #999;
	font-size: 0.9em;
	margin: 4em 0 2em 0;
	text-align: center;
}

footer a {
	color: #999 !important;
}




















