/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
   Author: Gabriel Florit
   ========================================================================== */
body {
  background: #121212;
}

#popup {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background: #4d4d4d;
  z-index: 100000;
  opacity: 0.96;
  color: white;
  font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
}

  #popup .container {
    position: relative;
    top: 15%;
    width: 65%;
    margin: 0 auto;
    color: white;
    background: #121212;
    border-radius: 7px;
  }

    #popup .close {
      position: absolute;
      right: 7px;
      top: 2px;
      font-weight: bold;
      font-size: 18px;
    }

    #popup .close:hover {
      text-shadow: 0 0 8px #BCD279;
      color: #9AB83E;
      cursor: pointer;
    }

    #popup .keyboard .left {
      width: 50%;
      float: left;
    }

    #popup .keyboard .right {
      width: 50%;
      float: right;
    }

    #popup .containerItem {
      padding: 11px 37px;
      display: none;
    }

      #popup .containerItem a {
        color: white;
      }

      #popup .containerItem p {
        margin-bottom: 0.5em;
      }

      #popup .containerItem h3 {
        margin-top: 2em;
      }

      #popup .containerItem ul {
        list-style: disc;
        margin: 0 0 1.5em 0;
      }

        #popup .containerItem span {
          text-shadow: 0 0 8px #BCD279;
          color: #9AB83E;
        }

        #popup .containerItem ul.keys {
          list-style: none;
        }

        #popup .containerItem ul.keys li {
          margin: 0.5em 0;
        }

        #popup .containerItem ul.keys span {
          text-shadow: 1px 1px 2px #919191;
          background: white;
          color: #121212;
          padding: 0.25em 0.5em;
          margin: 0 0.5em 0 0;
        }

#browsermessage {
  width: 35%;
  margin: 0 auto;
  margin-top: 10%;  
  color: white;
  text-align: center;
  font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
  display: none;
}

  #browsermessage span {
    text-shadow: 0 0 8px #BCD279;
    color: #9AB83E;
  }

  #browsermessage a {
    color: white;
  }

#main {
  position: absolute;
  width: 100%;
  height: 100%;
/*  min-width: 1260px; */
  display: none;
}

  #header {
    position: relative;
    top: -5px;
    float: left;
    font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
    font-size: 25px;
    text-shadow: 0 0 8px #BCD279;
    padding: 0 22px 0 7px;
    padding-right: 22px;
    color: #9AB83E;
    cursor: pointer;
  }

  #header.full {
    text-shadow: none;
    color: #262626;
  }

  #controls {
    position: relative;
    height: 25px;
    left: 5%;
    width: 90%;
    margin-top: 24px;
    z-index: 10000;
  }

  #controls.full {
    background: #8F9D6A;
    left: 0 !important;
    width: 100% !important;
    margin-top: 0 !important;
    z-index: 10000;
  }

  #controls li {
    list-style: none;
  }

  #controls ul,
  #controls li {
    margin: 0;
    padding: 0;
  }

    #menu,
    #modes {
      z-index: 10000;
      cursor: default;
      padding: 0;
    }

    #menu {
      float: left;
    }

    #pauseExecution {
      font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
      font-size: 22px;
      margin: 0 0 0 1em;
      color: #FFF;
      display: none;
    }

    #message {
      position: absolute;
      top: -22px;
      right: 1px;
      color: #9AB83E;
      text-shadow: 0 0 8px #BCD279;
      font-family: 'Consolas', 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', 'Monaco', Courier, monospace;
      font-size: 15px;
      display: none;
    }

    #message.full {
      position: relative;
      top: 4px;
      right: inherit;
      color: #262626;
      float: right;
      text-shadow: none;
    }

    #modes {
      float: right;
    }

      #controls .item {
        height: 100%;
        float: left;
      }

        .save-confirmation {
          display: none;
        }

        #gist,
        .save-confirmation {
          position: relative;
          top: 3px;
          padding: 2px 9px 0 9px;
          color: #eee;
          font-size: 12px;
          font-style: italic;
          text-decoration: none;
          border: solid rgba(0, 0, 0, 0) 1px;
        }

        #gist.full,
        .save-confirmation.full {
          color: #262626;
        }

        .dirty {
          position: absolute;
          top: 8px;
          box-shadow: 0 0 3px 0px rgba(255, 255, 255, 1);
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background: #8F9D6A;
          border: solid #9AB83E 1px;
          visibility: hidden;
        }

        .dirty.full {
          box-shadow: 0 0 3px 0px rgba(0, 0, 0, 1);
          background: #262626;
          border: solid black 1px;
        }

        #controls .item a:hover {
          text-decoration: underline;
        }

        #controls .item h2 {
          margin: 0 0 3px 0;
          padding: 2px 6px 0 6px;
          color: #eee;
          font-size: 15px;
          border: solid rgba(0, 0, 0, 0) 1px;
        }

        #controls .item h2.full {
          color: #262626;
        }

        #controls #modes .item h2 {
          margin: 0 0 3px 6px;
        }

          #controls .item h2.hover,
          #modes .item h2.active {
            background: #ccc;
            color: #222;
            border: solid #222 1px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            border-bottom: none;

            -webkit-background-clip: padding-box;
               -moz-background-clip: padding;
                    background-clip: padding-box;

            box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.8);

            background-image: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#fff));
            background-image: -webkit-linear-gradient(top, #ccc, #fff);
            background-image:    -moz-linear-gradient(top, #ccc, #fff);
            background-image:     -ms-linear-gradient(top, #ccc, #fff);
            background-image:      -o-linear-gradient(top, #ccc, #fff);
            background-image:         linear-gradient(to bottom, #ccc, #fff);
          }

          #controls .item h2.hover.full,
          #modes .item h2.active.full {
            background: white;
            border-radius: 0;

            box-shadow: none;
            background-image: none;
          }

          #controls .item h2.user {
            background-image: url(../img/user_white_17x15.png);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 17px 15px, auto;
          }

          #controls .item h2.user.hover {
            background-image: #FFF url(../img/user_black_17x15.png);
          }

          #controls .item h2.user.full {
            background-image: url(../img/user_black_17x15.png);
          }

          #modes .item h2.active.full {
            background: #262626;
            color: white;

            padding-bottom: 1px;
          }

          #modes .item h2.passive:hover {
            text-decoration: underline;
            cursor: pointer;
          }

        #controls .item ul {
          position: absolute;
          display: none;
          padding: 2px;
          margin-top: -3px;
          background: #fff;
          font-size: 15px;
          font-weight: bold;
          
          box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);

          border: solid #222 1px;
          border-radius: 3px;

          -webkit-background-clip: padding-box;
             -moz-background-clip: padding;
                  background-clip: padding-box;
        }

        #controls .item ul.full {
          background: #fff;

          border: solid #222 1px;
          border-radius: 0;
        }

          #controls .item ul li {
            border: solid rgba(0, 0, 0, 0) 1px;
            border-radius: 3px;
            padding: 0 16px 0 16px;
          }

          #controls .item ul li.hover {
            border: solid #92A75C 1px;
            background-image: -webkit-linear-gradient(top, white, #EBEEE0);
            cursor: pointer;
            color: #3c4525;
            text-shadow: 2px 2px 4px #CDD7B4;
          }

          #controls .item ul li.disabled {
            opacity: 0.25;
            cursor: default;
          }

          #controls .item ul li.separator {
            border: solid rgba(0, 0, 0, 0) 1px;
            border-top: solid rgba(0, 0, 0, 0.25) 1px;
            height: 1px;
            background: none;
          }

          #controls .item ul li.separator:hover {
            cursor: pointer;
          }

          #controls .item ul li.selected {
            position: relative;
          }

          #controls .item ul li.selected:before {
            content: "✓";
            position: absolute;
            top: 0;
            left: 0;
            z-index: 100;
          }

          #controls .item ul li a {
            color: #222;
            font-weight: normal;
            font-size: 12px;
            font-style: italic;
            padding: 0 0 0 27px;
            cursor: pointer;
          }


        



  #editor {
    position: absolute;
    top: 50px;
    bottom: 8%;
    left: 5%;
    width: 90%;
    clear: both;
    float: left;
    background: #262626;
  }

  #editor.full {
    top: 24px !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
  }

    #display {
      position: relative;
      float: left;
      top: -1px;
      width: 50%;
      height: 100%;
      background: white;

      border: solid white 1px;
      border-radius: 7px;
      border-top-right-radius: 40px 10px;
      border-bottom-right-radius: 40px 10px;
      -webkit-background-clip: padding-box; 
         -moz-background-clip: padding;
              background-clip: padding-box;
    }

    #display.full {
      top: 0 !important;
      border: none !important;
      border-radius: 0 !important;
    }

    #display.horizontal {
      width: 100%;
      height: 50%;
    }

    #top-edge {
      position: absolute;
      height: 13px;
      width: 100%;
      background-image: url('../../static/img/top-edge.png');
      top: -14px;
    }

    #top-edge.full {
      display: none;
    }

    #right-edge {
      position: absolute;
      height: 100%;
      width: 13px;
      background-image: url('../../static/img/right-edge.png');
      right: -14px;
    }

    #right-edge.full {
      display: none;
    }

    #bottom-edge {
      position: absolute;
      height: 13px;
      width: 100%;
      background-image: url('../../static/img/bottom-edge.png');
      bottom: -14px;
    }

    #bottom-edge.full {
      display: none;
    }

    #left-edge {
      position: absolute;
      height: 100%;
      width: 13px;
      background-image: url('../../static/img/left-edge.png');
      left: -13px;
    }

    #left-edge.full {
      display: none;
    }

    #top-right-corner {
      position: absolute;
      top: -14px;
      right: -14px;
      z-index: 1;
    }

    #top-right-corner.full {
      display: none;
    }

    #bottom-right-corner {
      position: absolute;
      bottom: -14px;
      right: -14px;
      z-index: 1;
    }

    #bottom-right-corner.full {
      display: none;
    }

    #top-left-corner {
      position: absolute;
      top: -14px;
      left: -13px;
      z-index: 1;
    }

    #top-left-corner.full {
      display: none;
    }

    #bottom-left-corner {
      position: absolute;
      bottom: -14px;
      left: -13px;
      z-index: 1;
    }

    #bottom-left-corner.full {
      display: none;
    }

      #middle-edge {
        position: absolute;
        width: 13px;
        height: 100%;
        right: -14px;
        z-index: 100;
        background-image: url('../../static/img/middle-edge.png');
      }

      #middle-edge.full {
        display: none;
      }

      #top-middle {
        position: absolute;
        right: -33px;
        top: -14px;
        z-index: 1000;
      }

      #top-middle.full {
        display: none;
      }

      #bottom-middle {
        position: absolute;
        right: -33px;
        bottom: -14px;
        z-index: 1000;
      }

      #bottom-middle.full {
        display: none;
      }

      iframe {
        position: absolute;
        top: 5%;
        left: 5%;
        width: 90%;
        height: 90%;
        border: none;
      }

      iframe.full {
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
      }

    #code {
      float: right;
      width: 47.5%;
      height: 100%;
    }

    #code.full {
      width: 50%;
    }

    #code.horizontal {
      width: 100%;
      height: 50%;
    }



      .CodeMirror {
        position: relative;
        height: 100%;
        z-index: 10;
      }

        .CodeMirror-scroll {
          height: 100% !important;
        }

        .CodeMirror .codeFolded {
          color: white;
          cursor: pointer;
          font-weight: bold;
        }

        .CodeMirror .codeFolded:hover {
          text-decoration: underline;
        }

    #codeOverlay {
      position: relative;
      top: -1px;
      left: 50%;
      z-index: 1;
      width: 50%;
      height: 100%;

      border: solid white 1px;
      border-radius: 4px;
      border-top-left-radius: 40px 10px;
      border-bottom-left-radius: 40px 10px;
      -webkit-background-clip: padding-box; 
         -moz-background-clip: padding;
              background-clip: padding-box;
    }

    #codeOverlay.full {
      display: none;
    }


  /* slider elements */
  #slider {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 100000;
  }

  #handle {
    position: absolute;
    height: 100%;
    z-index: 1000000;
  }

  #marker {
    position: absolute;
    height: 100%;
  }

  #bar {
    position: absolute;
    height: 12px;
    border: solid black 0px;

    border-radius: 12px;
    -webkit-background-clip: padding-box; 
       -moz-background-clip: padding;
            background-clip: padding-box;

    box-shadow: 0 0 5px 2px rgba(255, 255, 255, 0.7);

    background-color: #000000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#555));
    background-image: -webkit-linear-gradient(top, #000000, #555);
    background-image:    -moz-linear-gradient(top, #000000, #555);
    background-image:     -ms-linear-gradient(top, #000000, #555);
    background-image:      -o-linear-gradient(top, #000000, #555);
    background-image:         linear-gradient(to bottom, #000000, #555);
  }

    #filler {
      position: relative;
      background: white;
      height: 100%;
      width: 0px;
      left: 50%;

      -webkit-background-clip: padding-box; 
         -moz-background-clip: padding;
              background-clip: padding-box;

      /* (bit paler) green theme background-image: -webkit-linear-gradient(top, #FFF 0%, #C6D1A9 19%, #899D55 50%, #62713D 50%, #4F5B31 81%, #899D55 100%);*/
      /* blue theme background-image: -webkit-linear-gradient(top, #FFF 0%, #7bb2ff 19%, #0065f2 50%, #0048ae 50%, #003a8c 81%, #0065f2 100%);*/
      /* red theme background-image: -webkit-linear-gradient(top, #FFF 0%, #e5ad9c 19%, #c45635 50%, #8f3e26 50%, #74331f 81%, #c45635 100%);*/
      /* green theme background-image: -webkit-linear-gradient(top, #FFF 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);*/

      background-color: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(19%, #cfdf9f), color-stop(50%, #9ab83e), color-stop(50%, #6f852d), color-stop(81%, #5a6c24), color-stop(100%, #9ab83e));
      background-image: -webkit-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: -moz-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: -ms-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: -o-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
    }

    #ball {
      width: 12px;
      height: 12px;
      margin: 0 auto;

      border-radius: 12px;

      -webkit-background-clip: padding-box; 
         -moz-background-clip: padding;
              background-clip: padding-box;

      background-color: #fff;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(19%, #cfdf9f), color-stop(50%, #9ab83e), color-stop(50%, #6f852d), color-stop(81%, #5a6c24), color-stop(100%, #9ab83e));
      background-image: -webkit-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: -moz-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: -ms-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: -o-linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
      background-image: linear-gradient(top, #fff 0%, #cfdf9f 19%, #9ab83e 50%, #6f852d 50%, #5a6c24 81%, #9ab83e 100%);
    }

  #triangle {
    position: absolute;
    border-color: #9AB83E transparent transparent transparent;
    border-style: solid;
    height: 0;
    width: 0;
  }

















/* ==|== media queries ======================================================
   EXAMPLE Media Query for Responsive Design.
   This example overrides the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}



/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
