.avatar {

	a, button {
		position: relative;
		top: 2px;
	}

	img, button {
		width: 1em;
		height: 1em;
	}

	button {
		background-image: inline-image('user.png');
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;	
	}
}