// background tones (dark)
$solarized_base03 : #002b36;
$solarized_base02 : #073642;

// content tones (dark)
$solarized_base01 : #586e75;
$solarized_base00 : #657b83;

// content tones (light)
$solarized_base0  : #839496;
$solarized_base1  : #93a1a1;

// background tones(light)
$solarized_base2  : #eee8d5;
$solarized_base3  : #fdf6e3;

// accent colors
$solarized_yellow : #b58900;
$solarized_orange : #cb4b16;
$solarized_red    : #dc322f;
$solarized_magenta: #d33682;
$solarized_violet : #6c71c4;
$solarized_blue   : #268bd2;
$solarized_cyan   : #2aa198;
$solarized_green  : #859900;