*,
*:before,
*:after {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
}

a {
	color: $solarized_green;
}

ul {
	list-style: none;
}

* {
	margin: 0;
	padding: 0;
}

#main,
.livecoding {
	width: 100%;
	height: 100%;
}

.livecoding {
	position: relative;
	overflow: hidden;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;

	.menubar {
		-webkit-flex: 0 1 auto;
		flex: 0 1 auto;
	}

	.content {
		-webkit-flex: 1 1 auto;
		flex: 1 1 auto;
		position: relative;
	}
}