.menubar {

	border-bottom: solid $solarized_base01 1px;
	width: 100%;
	z-index: 10;
	padding-left: 1em;
	padding-right: 1em;
	font-family: $sansSerif;
	@include adjust-font-size-to($s4);
	@include padding-leader(1/2);

	ul.menugroup {

		$horizontal-space: 1em;

		li.current > button {
			color: $solarized_base3;
		}

		> li {
			float: left;
		}

		&.file {
			float: left;

			> li {
				margin-right: $horizontal-space;
				position: relative;

				ul.menu {
					position: absolute;
					display: none;

					&.selected {
						display: block;
					}

					li {
						white-space: nowrap;
					}
				}
			}
		}

		&.mode {
			float: right;

			ul.menu li {
				float: left;
				margin-left: $horizontal-space;
			}
		}
	}

	.saved {
		padding-left: 1em;
		float: left;
		transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

		a {
			@include adjust-font-size-to($s3);
			@include adjust-leading-to(1);
		}
	}

	.saved-enter {
		opacity: 0;
	}

	.saved-enter.saved-enter-active {
		opacity: 1;
	}
}