.menubar {

	border-bottom: solid $solarized_base01 1px;
	width: 100%;
	z-index: 10;
	padding-left: 1em;
	padding-right: 1em;
	font-family: $sansSerif;
	@include adjust-font-size-to($s4);

	$horizontal-space: 1em;

	.avatar {
		float: left;
		margin-right: $horizontal-space;
	}

	ul.menugroup {

		> li > button {
			padding-left: $horizontal-space/2;
			padding-right: $horizontal-space/2;
		}

		> li.current > button {
			background: $solarized_base02;
		}

		li.current > button {
			color: $solarized_base3;
		}

		> li {
			float: left;
		}

		&.file {
			float: left;

			> li {
				position: relative;

				ul.menu {
					position: absolute;
					display: none;

					&.selected {
						display: block;
						background: $solarized_base02;
						border-bottom-left-radius: 2px;
						border-bottom-right-radius: 2px;
						padding-left: $horizontal-space*1.25;
						padding-right: $horizontal-space*1.25;
						@include rhythm(0, 0, 1/4, 0);
					}

					li {
						white-space: nowrap;
					}
				}
			}
		}

		&.mode {
			float: right;

			ul.menu li {
				float: left;
				margin-left: $horizontal-space;
			}
		}
	}

	.dirty {
		float: right;
		color: $solarized_base0;
	}

	.saved {
		float: left;

		a, .success {
			@include adjust-font-size-to($s3);
			@include adjust-leading-to(1);
		}

		.success {
			opacity: 0;
			margin-left: $horizontal-space;
			color: $solarized_base3;
		}

		.success-enter {
			@extend %flash;
		}
		.success-enter-active {
		}
	}
}