$sansSerif: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono: 'Ubuntu Mono';

$s0: 5px;
$s1: 7px;
$s2: 9px;
$s3: 12px;
$s4: 16px;
$s5: 21px;
$s6: 28px;
$s7: 37px;
$s8: 50px;
$s9: 67px;
$s10: 83px;