.updates {
	border-top: solid $solarized_base1 1px;
	color: $solarized_base0;
	font-family: $sansSerif;
	padding-left: 1em;
	padding-right: 1em;
	position: relative;

	time {
		color: $solarized_base01;
	}

	@include rhythm(0, 1/3, 1/2, 0);

	header {
		overflow: hidden;

		h3 {
			@include adjust-font-size-to($s5);
			float: left;
		}

		button {
			@include adjust-font-size-to($s6, 5/3);
			float: right;
		}
	}

	li {
		@include adjust-font-size-to($s3);
	}
}