@import "../../node_modules/codemirror/lib/codemirror.css";
@import "../../node_modules/codemirror/theme/solarized.css";
@import "typography";

.editor {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 100%;

	.editor-codemirror {
		width: 100%;
		height: 100%;

		.CodeMirror {
			height: 100%;
			font-family: $mono;
		}
	}

}