@import "../../node_modules/normalize.css/normalize.css";

*,
*:before,
*:after {
	   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#main,
.livecoding {
	width: 100%;
	height: 100%;
	background: antiquewhite;
}