<!doctype html>
<head>
	<meta name='content-type' content='text/html; charset=UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'>
	<meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>
	<title>livecoding</title>
	<link rel='stylesheet' href="{{ url_for('static', filename='css/iframe.css') }}">
	<link rel='stylesheet' href="{{ url_for('static', filename='css/gallery.css') }}?v={{vars.version}}">
	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{{vars.gaId}}']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>
	<header>
		<span>livecoding</span> an interactive sketchpad
	</header>
	<div class='thumbnails new'>
		<h4>new sketch</h4>
		<ul>
			<li><p><a href='/!'>+</a></p></li>
		</ul>
	</div>
	<div class='thumbnails user'>
		<h4>your sketches</h4>
		<ul></ul>
	</div>
	<div class='thumbnails community'>
		<h4>community sketches</h4>
		<ul></ul>	
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/gallery.util.js') }}?v={{vars.version}}"></script>
	<script src="{{ url_for('static', filename='js/gallery.js') }}?v={{vars.version}}"></script>
	<script src="{{ url_for('static', filename='js/libs/Underscore.js') }}"></script>
</body>
</html>