<!doctype html>
<head>
	<meta charset="utf-8">
	<title>livecoding</title>
	<script>
		var livecoding = (function () {

			return {
				addJs: function(library) {

					var name = library.name;
					var obj = library.obj;

					if ($('body script[src*="' + name + '.js"]').length == 0) {
						$('body').append('<script src="static/js/libs/' + name + '.js"><\/script>');

						while (eval("!" + obj)) {
						}

						parent.aigua.renderCode();
					}

				},

				json: null,

				removeJs: function(library) {

					var obj = library.obj;

					eval(obj + " = undefined;");
					parent.aigua.renderCode();

				},

				renderCode: function(code) {
					try { eval(code); }
					catch (error) {
						console.error(error);
					}
					finally {}
				}

			}

		}());

		window.onload = function() {
			parent.aigua.iframeLoaded();
		}
	</script>
	<link rel="stylesheet" href="static/css/iframe.css">
	<style id='style'></style>
</head>
<body>
	<div id='livecoding-main'>
	</div>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
</body>
</html>