<!doctype html>
<head>
	<meta name='content-type' content='text/html; charset=UTF-8' />
	<meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'> 
	<meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>
	<title>livecoding</title>
	<script>
		var log = function(o) {
			$('#livecoding-pre').html(JSON.stringify(o, null, 4));
		};

		var livecoding = (function () {

			return {
				addJs: function(library) {

					var name = library.name;
					var obj = library.obj;

					if ($('body script[src*="' + name + '.js"]').length == 0) {

						var script = $('<script src="static/js/libs/' + name + '.js"><\/script>');
						script.ready(function(e) {
 							parent.aigua.renderCode();
 						})

						$('body').append(script);						
					}

				},

				json: null,

				removeJs: function(library) {

					var obj = library.obj;

					eval(obj + " = undefined;");
					parent.aigua.renderCode();

				},

				renderCode: function(code) {
					$('#livecoding-pre').html('');
					try { eval(code); }
					catch (error) {
						console.error(error);
					}
					finally {}
				}

			}

		}());

		window.onload = function() {
			parent.aigua.iframeLoaded();
		}
	</script>
	<link rel='stylesheet' href='static/css/iframe.css'>
	<style id='style'></style>
	<script src='static/js/libs/modernizr-2.6.1.js'></script>
	<script src='static/js/libs/yepnope-1.5.4.js'></script>
</head>
<body>
	<pre id='livecoding-pre'></pre>
	<div id='livecoding-main'>
	</div>
	<script src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>
	<script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
</body>
</html>