<!doctype html>
<html>
<head>
	<meta name='content-type' content='text/html; charset=UTF-8' />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name='viewport' content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1'>

	<title>livecoding</title>
	<meta name="description" content="livecoding is an interactive sketchpad. Code modifications are instantly displayed - no need to refresh your browser. Click on a number, adjust its value via the popup slider, and watch your work change on the fly! 100% totally based on Bret Victor's Inventing on Principle talk.">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='js/libs/codemirror/codemirror.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='js/libs/codemirror/theme/lesser-dark.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.miniColors.css') }}">

	<script type="text/javascript">

		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', '{{vars.gaId}}']);
		_gaq.push(['_trackPageview']);

		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();

	</script>
</head>
<body>
	<div id='popup'>

		<div class='container'>

			<div class='keyboard containerItem'>
				<div class='close'>x</div>
				<div class='left'></div>
				<div class='right'></div>
				<div class='clearfix'></div>
			</div>

			<div class='loading'>
				loading...
			</div>

		</div>

	</div>

	<div id='main' role="main">

		<!-- slider elements -->    
		<div id='slider'>
			<div id='marker'></div>
			<div id='handle'>
				<div id='ball'></div>
			</div>
			<div id='bar'>
				<div id='filler'></div>
			</div>
			<div id='triangle'></div>
		</div>

		<div id='controls'>
			<div id='header'><a target='_blank' href='/'>livecoding</a></div>
			<div id='menu'>
				<div class='item'>
					<h2 class='user'>&nbsp;</h2>
					<ul>
						<li>login</li>
					</ul>
				</div>
				<div class='item'>
					<h2>file</h2>
					<ul>
						<li>new</li>
						<li>save as anonymous gist</li>
						<li class='separator'>&nbsp;</li>
						<li class='disabled'>save as public gist</li>
						<li class='disabled'>save as private gist</li>
					</ul>
				</div>
				<div class='item'>
					<h2>examples</h2>
					<ul>
						<li rel='3411676'>html: basic example</li>
						<li class='separator'>&nbsp;</li>
						<li rel='3419309'>d3: chord diagram</li>
						<li rel='3419313'>d3: particles</li>
						<li rel='3419316'>d3: circles</li>
						<li rel='3419322'>d3: bar chart</li>
						<li rel='3419324'>d3: scatter plot</li>
						<li class='separator'>&nbsp;</li>
						<li rel='3419328'>Highcharts: basic line</li>
						<li class='separator'>&nbsp;</li>
						<li rel='3682834'>three.js: basic cube</li>
						<li class='separator'>&nbsp;</li>
						<li rel='5036458'>KineticJS: spline transition</li>
					</ul>
				</div>
				<div class='item'>
					<h2>view</h2>
					<ul>
						<li class='separator'>&nbsp;</li>
						<li>single page</li>
						<li class='separator'>&nbsp;</li>
						<li>stats</li>
					</ul>
				</div>
				<div class='item'>
					<h2>libraries</h2>
					<ul>
					</ul>
				</div>
				<div class='item'>
					<h2>resolution</h2>
					<ul>
						<li class='disabled'>reset</li>
						<li rel='320x480'>320 x 480</li>
						<li rel='480x320'>480 x 320</li>
						<li rel='768x1024'>768 x 1024</li>
						<li rel='1024x768'>1024 x 768</li>
					</ul>
				</div>
				<div class='item'>
					<h2>help</h2>
					<ul>
						<li>about / source code</li>
						<li>keyboard shortcuts</li>
						<li>contact</li>
						<li>google group</li>
					</ul>
				</div>
				<div class='item'>
					<a href='' id='gist' target='_blank'></a><span class='dirty'></span><span class='save-confirmation'></span>
				</div>
			</div>
			<span id='pauseExecution'>PAUSE</span>
			<span id='startAnimation'>ANIMATING</span>
			<div id='modes'></div>
			<div id='message'>click number and press <span class='key'></span></div>
		</div>
		<div id='editor'>
			<div id='display'>
				<img id='top-middle' src="{{ url_for('static', filename='img/top-middle.png') }}" width='66px' height='31px' />
				<img id='bottom-middle' src="{{ url_for('static', filename='img/bottom-middle.png') }}" width='66px' height='31px' />
				<div id='middle-edge'></div>
				<div id='iframeContainer'></div>
			</div>
			<img id='top-right-corner' src="{{ url_for('static', filename='img/top-right-corner.png') }}" width='26px' height='26px' />
			<img id='bottom-right-corner' src="{{ url_for('static', filename='img/bottom-right-corner.png') }}" width='26px' height='26px' />
			<img id='top-left-corner' src="{{ url_for('static', filename='img/top-left-corner.png') }}" width='26px' height='26px' />
			<img id='bottom-left-corner' src="{{ url_for('static', filename='img/bottom-left-corner.png') }}" width='26px' height='26px' />
			<div id='top-edge'></div>
			<div id='right-edge'></div>
			<div id='bottom-edge'></div>
			<div id='left-edge'></div>
			<div id='code'></div>
			<div id='codeOverlay'></div>
		</div>
		<input type='hidden' id='hidden-miniColors' />

	</div>

	<footer>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

	<script src="{{ url_for('static', filename='js/libs/codemirror/codemirror.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/codemirror/utils/loadmode.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/codemirror/mode/javascript.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/codemirror/mode/css.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/codemirror/mode/xml.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/codemirror/mode/htmlmixed.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/codemirror/utils/foldcode.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/codemirror/utils/formatting.js') }}"></script>

	<script src="{{ url_for('static', filename='js/libs/jquery-ui-1.8.20.custom.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/Underscore.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/browserDetect.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/jquery.miniColors.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/Stats.js') }}"></script>
	<script src="{{ url_for('static', filename='js/libs/jquery.history.js') }}"></script>

	<script src="{{ url_for('static', filename='js/editor/libraries.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/snippets.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/commenting.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/sliderKey.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/extraKeys.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/shortcuts.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/extensions.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/misc.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/slider.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/popup.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/codeMirrorUtil.js') }}"></script>
	<script src="{{ url_for('static', filename='js/editor/modes.js') }}"></script>

	<script src="{{ url_for('static', filename='js/editor/script.js') }}"></script>
</body>
</html>