<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<!-- Use the .htaccess and remove these lines to avoid edge case issues.
			 More info: h5bp.com/i/378 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title>livecoding</title>
	<meta name="description" content="livecoding is an interactive sketchpad. Code modifications are instantly displayed - no need to refresh your browser. Click on a number, adjust its value via the popup slider, and watch your work change on the fly! 100% totally based on Bret Victor's Inventing on Principle talk.">

	<link rel="stylesheet" href="static/css/style.css?v={{vars.version}}">
	<link rel="stylesheet" href="static/js/libs/codemirror/codemirror.css">
	<link rel="stylesheet" href="static/js/libs/codemirror/theme/lesser-dark.css">
	<link rel="stylesheet" href="static/css/jquery.miniColors.css">

	<!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

	<!-- All JavaScript at the bottom, except this Modernizr build.
			 Modernizr enables HTML5 elements & feature detects for optimal performance.
			 Create your own custom Modernizr build: www.modernizr.com/download/ -->
	<script src="static/js/libs/modernizr-2.5.3.min.js"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33254903-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>
<body>
	<div id='popup'>

		<div class='container'>

			<div class='close'>x</div>

			<div class='about containerItem' rel='08122012'>
				<p><span>livecoding</span> is a live coding sketchpad in d3. Code modifications are instantly displayed - no need to refresh your browser. Click a number, adjust its value via the popup slider, and watch your work change on the fly!</p>

				<h3>Updates</h3>

				<p>Aug 12, 2012</p>
				<ul>
					<li><span>new:</span> added introduction screen</li>
					<li><span>new:</span> added HTML mode</li>
				</ul>
				<p>Aug 8, 2012</p>
				<ul>
					<li>show save confirmation</li>
					<li>bug fixes</li>
				</ul>
				<p>Jul 25, 2012</p>
				<ul>
					<li>added ability to save under GitHub username</li>
				</ul>
				<a href='https://github.com/gabrielflorit/livecoding/commits/master' target='_blank'>more</a>
			</div>

		</div>

	</div>

	<div id='browsermessage'>Our sincerest apologies! <span>livecoding</span> doesn't support your browser. We're <a href='https://github.com/gabrielflorit/livecoding/issues'>working</a> on it - in the meantime, <a href='http://www.google.com/chrome'>please switch to Chrome</a>.</div>

	<div id='main' role="main">

		<!-- slider elements -->    
		<div id='slider'>
			<div id='marker'></div>
			<div id='handle'>
				<div id='ball'></div>
			</div>
			<div id='bar'>
				<div id='filler'></div>
			</div>
			<div id='triangle'></div>
		</div>

		<div id='controls'>
			<div id='header'>livecoding</div>
			<div id='menu'>
				<div class='item'>
					<h2 class='user'>&nbsp;</h2>
					<ul>
						<li>login</li>
					</ul>
				</div>
				<div class='item'>
					<h2>file</h2>
					<ul>
						<li>new</li>
						<li class='disabled'>save</li>
						<li>save anonymously</li>
					</ul>
				</div>
				<div class='item'>
					<h2>examples</h2>
					<ul>
						<li rel='3343726'>chord diagram</li>
						<li rel='3343730'>particles</li>
						<li rel='3343733'>circles</li>
						<li rel='3334989'>bar chart</li>
						<li rel='3343738'>scatter plot</li>
					</ul>
				</div>
				<div class='item'>
					<h2>view</h2>
					<ul>
					</ul>
				</div>
				<div class='item'>
					<h2>help</h2>
					<ul>
						<li>about</li>
						<li>source code</li>
						<li>contact</li>
					</ul>
				</div>
				<div class='item'>
					<a href='' id='gist' target='_blank'></a><span class='dirty'></span><span class='save-confirmation'></span>
				</div>
			</div>
			<div id='modes'></div>
			<div id='message'>click number and press <span class='key'></span></div>
		</div>
		<div id='editor'>
			<div id='display'>
				<img id='top-middle' src='static/img/top-middle.png' />
				<img id='bottom-middle' src='static/img/bottom-middle.png' />
				<div id='middle-edge'></div>
				<div id='iframeContainer'></div>
			</div>
			<img id='top-right-corner' src='static/img/top-right-corner.png' />
			<img id='bottom-right-corner' src='static/img/bottom-right-corner.png' />
			<img id='top-left-corner' src='static/img/top-left-corner.png' />
			<img id='bottom-left-corner' src='static/img/bottom-left-corner.png' />
			<div id='top-edge'></div>
			<div id='right-edge'></div>
			<div id='bottom-edge'></div>
			<div id='left-edge'></div>
			<div id='code'></div>
			<div id='codeOverlay'></div>
		</div>
		<input type='hidden' id='hidden-miniColors' />

	</div>

	<footer>
	</footer>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>

	<script src="static/js/libs/codemirror/codemirror.js"></script>
	<script src="static/js/libs/codemirror/loadmode.js"></script>
	<script src="static/js/libs/codemirror/mode/javascript.js"></script>
	<script src="static/js/libs/codemirror/mode/css.js"></script>
	<script src="static/js/libs/codemirror/mode/xml.js"></script>
	<script src="static/js/libs/codemirror/mode/htmlmixed.js"></script>
	<script src="static/js/libs/d3.v2.min.js"></script>
	<script src="static/js/libs/jquery-ui-1.8.20.custom.min.js"></script>
	<script src="static/js/libs/underscore.min.js"></script>
	<script src="static/js/libs/browserDetect.js"></script>
	<script src="static/js/libs/jquery.miniColors.min.js"></script>
	<script src="static/js/plugins.js"></script>
	<script src="static/js/script.js?v={{vars.version}}"></script>
</body>
</html>