<!doctype html>
<head>
	<meta charset="utf-8">
	<title>livecoding</title>
	<link rel="stylesheet" href="../static/css/iframe.css">
	<style>
		{{vars.css|safe}}
	</style>

</head>
<body>
	<div id='livecoding_watermark'><a target='_blank' href='/{{vars.gistId}}'>made with <span>livecoding.io</span></a></div>
	{{vars.html|safe}}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="../static/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
	{% for library in vars.libraries %}
		<script src="../static/js/libs/{{ library }}.js"></script>
	{% endfor %}
	<script>
		$(function() {

			var livecoding = {
				json: {{vars.json|safe}}
			};

			{{vars.js|safe}}

		});
	</script>
</body>
</html>